<div class="container">
  <div class="sign-container">
      <div class="sign-form col-5 justify-content-center">
      <div class="form-login">
        <h2>Sign up</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :first_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "First Name" }%>
          <%= f.input :last_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "Last Name" }%>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :photo,
                      autofocus: true,
                      as: :file %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
        </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
     </div>
     <div class="recording-image align-middle">
      <img class="mx-auto-signup" style="width: 710px;" src="https://images.unsplash.com/photo-1605036482688-14e03c9425e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="Card image cap">
    </div>
   </div>
</div>
