
<div class="container-mybookings">
  <h1 class="header-mybookings">My Bookings</h1>
  <div class="list-bookings">
    <div class="card-mybookings">
      <% @bookings.each do |booking| %>
        <div class="card-mybooking">
          <p><strong>Studio:</strong> <%= booking.studio.title %></p>
          <p><strong>Check-in:</strong> <%= booking.checkin %></p>
          <p><strong>Check-out:</strong> <%= booking.checkout %></p>
          <p><strong>Studio Address:</strong> <%= booking.studio.address %></p>
          <p><strong>Daily Price:</strong> <%= booking.studio.price %>Chf</p>
            <div class="total-price">
            <h2><strong>Total Price: <%= booking.total_price %>Chf</strong></h2>
            </div>
          <p class='btn btn-lg btn-primary'>
          <%= link_to "Delete",
                       booking_path(booking),
                       method: :delete,
                       data: {confirm: "Are you sure?"}  %>
          </p>
        </div>
        <% end %>
      </div>
    </div>
</div>

