<h1>my bookings</h1>

<div class="list-bookings">
<ul>
  <% @bookings.each do |booking| %>
    <h2> <li>Studio : <%= booking.studio.title %></li></h2>
    <h3><li>Check-in : <%= booking.checkin %></li></h3>
    <h3><li>Check-out : <%= booking.checkout %></li></h3>
    <h3><li>Studio Address : <%= booking.studio.address %></li></h3>
    <h3><li>Daily Price : <%= booking.studio.price %>Chf</li></h3>
    <h2><li>Total Price : <%= booking.total_price %>Chf</li></h2>
  <% end %>
</ul>
</div>
