<div class="studio-card-container">
  <div class="studio-show-card shadow mt-5 mb-5 rounded">
    <% if @studio.photo.attached? %>
      <%= cl_image_tag @studio.photo.key, crop: :fill, class: "w-100 shadow rounded", height: 750 %>
    <% end %>
    <div class="p-5">
      <div class="d-flex justify-content-between">
        <h1 class="studio-title"><%= @studio.title %></h1>
        <p class="price"><b><%= @studio.price %> CHF</b> / day</p>
      </div>
      <p class="text-muted mb-5"><%= @studio.address%></p>
      <%= link_to "BOOK NOW", new_studio_booking_path(@studio), class: 'btn btn-warning btn-lg btn-block mb-4'%>
      <p class="studio-description mt-5"><%= @studio.description %></p>
      <p class="text-right mb-3">With love from <%= @studio.user.first_name %></p>
      <hr>
      <div id="map" class="mt-5"
        style="width: 100%; height: 30vh;"
        data-markers="<%= @marker.to_json %>"
        data-mapbox-api-key="pk.eyJ1IjoiamhkMTAwNSIsImEiOiJja2hlb296N2swaHFzMnNsNjNvdzd6YjVwIn0.ARhNT4a5lKji24U8myBKZQ">
      </div>
    </div>
  </div>
</div>