<div class="studio-card-container">
<div class="studio-show-card shadow mt-5 mb-5 rounded">
  <% if @studio.photo.attached? %>
    <%= cl_image_tag @studio.photo.key, crop: :fill, class: "w-100 shadow rounded", height: 750 %>
  <% end %>
  <div class="p-5">
    <div class="d-flex justify-content-between ">
      <h1 class="studio-title"><%= @studio.title %></h1>
      <%# LINK TO BOOKING PAGE%>
      <%= link_to "BOOK NOW", new_studio_booking_path(@studio), class: 'btn btn-warning btn-lg align-self-center pr-5 pl-5' %>
    </div>
    <div class="d-flex align-items-start mt-2">
      <p class="pr-4 bd-highlight"><%= @studio.price %> CHF / day</p>
      <p class="text-muted"><%= @studio.address%></p>
    </div>
    <p class="studio-description mt-4"><%= @studio.description %></p>
    <p class="text-right">Created by <%= @studio.user.first_name %></p>
  </div>
</div>
</div>
