<!DOCTYPE html>
<html>
  <head>
    <title>RailsAirstudio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <%= render 'shared/flashes' %>
    <%= yield %>

    <!--  Navigation Bar -->

    <div class="navbar">
      <div class="navbar__logo">
        <%= image_tag "logo.png", class:"logo" %>
      </div>
      <div class="navbar__list">
        <li class="navbar__item item1"> <%= link_to 'Our Studios', studios_path, class:"navbar__links" %> </li>
        <li class="navbar__item item2"> <%= link_to 'Sign in', user_session_path, class:"navbar__links" %> </li>
        <!--     <li class="navbar__item item3">Log-out</li> -->
      </div>
    </div>

    <!--  Rendered from other views -->

    <%= yield %>

    <!--  Footer -->

    <div class="footer">
      <div class="footer-content">
        <p> Proudly brought to you by Team Pegs</p>
      </div>
    </div>

  </body>
</html>
